<%= form_for retailer_product, url: "/employees/retailer_products", remote: true, id: "retailer_product_form", authenticity_token: true do |product_form| %>
<%= product_form.hidden_field :retailer_id, value: "#{retailer.id}" %>
<div class="col-sm-12">
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">Name</label><span class="mandatory">*</span>
				<%= product_form.text_field :product_name , class: 'form-control', placeholder: 'Property name'%>
			</div>
		</div> 
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">Property Type</label><span class="mandatory">*</span>
				<%= product_form.select :product_sub_category_id , options_for_select(category_types) , { include_blank: 'Select property type'}, class: 'form-control'%>
			</div>
		</div> 
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">Property Size</label>
				<%=  product_form.select :product_type_id , options_for_select(list_product_type.pluck(:name, :id)) , { include_blank: 'Select property size'}, class: 'form-control' %>
			</div>
		</div> 
	</div>
</div>

<div class="col-sm-12">
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">Total area (sq ft.)</label>
				<%= product_form.text_field :unit , class: 'form-control', placeholder: 'Total size'%>
			</div>
		</div> 
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">Property For</label><span class="mandatory">*</span>
				<%= product_form.select :product_operation_id , options_for_select(list_product_operations.pluck(:name, :id)) , { include_blank: 'Select property for'}, class: 'form-control' %>
			</div>
		</div> 
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">Description</label>
				<%= product_form.text_field :description , class: 'form-control', placeholder: 'Description'%>
			</div>
		</div> 
	</div>
</div>

<div class="col-sm-12">
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">Min price</label>
				<span class="mandatory">*</span>
				<%= product_form.number_field :min_price , class: 'form-control', placeholder: 'Min price'%>
			</div>
		</div> 
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">Max price</label><span class="mandatory">*</span>
				<%= product_form.number_field :max_price , class: 'form-control', placeholder: 'Max price'%>
			</div>
		</div> 
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">Upload date</label><span class="mandatory">*</span>
				<%= product_form.date_field :upload_date , class: 'form-control'%>
			</div>
		</div> 
	</div>
</div>
<%= product_form.fields_for :property_specification, retailer_product.build_property_specification do |specification_form| %>
	<div class="col-sm-12">
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-icon">
					<label class="control-label form-label">Bedrooms</label><span class="mandatory">*</span>
					<%= specification_form.select :bedrooms, options_for_select(ROOM_COUNTS) , {include_blank: "No of bedrooms"} , class: 'form-control' %>
				</div>
			</div> 
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-icon">
					<label class="control-label form-label">Bathrooms</label><span class="mandatory">*</span>
					<%= specification_form.select :bathrooms, options_for_select(ROOM_COUNTS) , {include_blank: "No of bathrooms"} , class: 'form-control' %>
				</div>
			</div> 
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-icon">
					<label class="control-label form-label">Balconies</label><span class="mandatory">*</span>
					<%= specification_form.select :balconies, options_for_select(ROOM_COUNTS) , {include_blank: "No of balconies"} , class: 'form-control' %>
				</div>
			</div> 
		</div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-icon">
					<label class="control-label form-label">Other Rooms</label>
					<%= specification_form.select :other_rooms, options_for_select(OTHER_ROOMS) , {} , class: 'form-control', multiple: true %>
				</div>
			</div> 
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-icon">
					<label class="control-label form-label">Furnishing</label><span class="mandatory">*</span>
					<%= specification_form.select :furnishing, options_for_select(FURNISHING) , {include_blank: "Furnishing"} , class: 'form-control' %>
				</div>
			</div> 
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-icon">
					<label class="control-label form-label">Covered Parkings</label><span class="mandatory">*</span>
					<%= specification_form.select :covered_parking, options_for_select(PARKING_COUNTS) , {include_blank: "No of covered parkings"} , class: 'form-control' %>
				</div>
			</div> 
		</div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-icon">
					<label class="control-label form-label">Open Parking</label><span class="mandatory">*</span>
					<%= specification_form.select :open_parking, options_for_select(PARKING_COUNTS) , {include_blank: "No of open parkings"} , class: 'form-control' %>
				</div>
			</div> 
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-icon">
					<label class="control-label form-label">Availability Status</label><span class="mandatory">*</span>
					<%= specification_form.select :availability_status, options_for_select(AVAILABILITY_STATUS) , {include_blank: "Availability status"} , class: 'form-control' %>
				</div>
			</div> 
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-icon">
					<label class="control-label form-label">Possession by Year</label><span class="mandatory">*</span>
					<%= specification_form.select :possession_by_year, options_for_select(POSSESSION_BY_YEAR) , {include_blank: "Possession year"} , class: 'form-control' %>
				</div>
			</div> 
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-icon">
					<label class="control-label form-label">Possession by Month</label><span class="mandatory">*</span>
					<%= specification_form.select :possession_by_month, options_for_select(Date::MONTHNAMES.compact) , {include_blank: "Possession month"} , class: 'form-control' %>
				</div>
			</div> 
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-icon">
					<label class="control-label form-label">Ownership</label><span class="mandatory">*</span>
					<%= specification_form.select :ownership, options_for_select(OWNERSHIP) , {include_blank: "Ownership"} , class: 'form-control' %>
				</div>
			</div> 
		</div>
	</div>
<% end %>	
<div class="col-sm-12">
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">Address</label><span class="mandatory">*</span>
				<%= product_form.text_field :address , class: 'form-control', placeholder: 'Address'%>
			</div>
		</div> 
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">State</label><span class="mandatory">*</span>
				<%= product_form.select :state , options_for_select(list_states), {}, class: 'form-control', placeholder: 'State', onchange: 'populateCity(this)' %>
			</div>
		</div> 
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">City</label><span class="mandatory">*</span>
				<%= product_form.select :city , options_for_select([]), {}, class: 'form-control', placeholder: 'Cities', id: 'retailer_cities'%>
			</div>
		</div> 
	</div>
</div>

<div class="col-sm-12">
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-icon">
				<label class="control-label form-label">Upload photos</label><span class="mandatory">*</span>
				<br />
				<div class="btn btn-primary btn-file product-files">
					<span class="hidden-xs">Browse</span>
					<%= product_form.file_field :product_photos , multiple: true, id: 'featured-img' %>
				</div>
				<div id="frames"></div>
			</div>
		</div> 
	</div>
</div>
<div class="col-sm-12">
	<div class="col-sm-4">
		<%= product_form.submit 'Add Property', class: 'btn btn-common log-btn retailer-product-form-button', onclick: 'start_spin("retailer_product_form")'%>
	</div>
</div>
<% end %>
					<!-- End -->