<!-- Start Comment Area -->
<div id="comments">
  <div class="inner-box">
    <h3>Reviews (<%= reviews&.count || 0%>)</h3>
    <ol class="comments-list">
    	<% reviews.each do |review| %>
    		<% user = review.user %>
		    <li>
		        <div class="media">
		          <div class="thumb-left">
		            <a href="#">
		              <% photo_url =  user.photo_url.present? ? user.photo_url : '/assets/user_default.png' %>
		              <img alt="" src="<%= photo_url %>" />
		            </a>
		          </div>
		          <div class="info-body">
		            <div class="media-heading">
		              <h4 class="name"><%= user.name %></h4> | 
		              <span class="comment-date"><%= review.updated_at.strftime('%b %d, %Y') %></span>
		            </div> 
		            <div class="info ratings">
		              <%(1...6).each do |index|%>
		              	<span class="fa fa-star <%='checked' if index <= review.rating.to_i%>"></span>
		              <% end %>
		            </div>
		            <p><%= review.review %></p>
		          </div>
		        </div>
		    </li>
		<% end %>    
    </ol>
    <% if current_user.present? %>
	    <!-- Start Respond Form -->
	    <div id="respond">
	      <h2 class="respond-title">Add your valuable review</h2>
	      <%= render 'add_rating' %>
	      <%= form_for retailer_product_review do |f|%>
	        <div class="row">
	          <div class="col-md-12">
	            <div class="form-group">
	              <%= f.text_area :review, class: 'form-control', cols: 45, rows: 8, placeholder: "Add review.."%>
	              <%= f.hidden_field :retailer_product_id, value: "#{retailer_product.id}"%>
	              <%= f.hidden_field :rating %>
	            </div>
	            <button type="submit" id="submit" class="btn btn-common">Add Review</button>
	          </div>
	        </div>
	      <% end %>
	    </div>
	    <!-- End Respond Form -->
	<% end %>    
  </div>
</div>
<!-- End Comment Area -->