<div id="retailer_search_hidden_fields">
  <%= hidden_field_tag :category_id, "#{params[:category_id]}" %>
  <%= hidden_field_tag :city, "#{params[:city]}" %>
  <%= hidden_field_tag :state, "#{params[:state]}" %>
</div>
<!-- Main container Start -->  
<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 page-sidebar">
        <aside>
          <div class="inner-box">
            <div class="categories">
              <div class="widget-title">
                <i class="fa fa-align-justify"></i>
                <h4>All Categories</h4>
              </div>
              <div class="categories-list">
                <ul>
                  <% categories.each do |category| %>
                    <li>
                      <a href="/retailers/search?category_id=<%=category.id%>&state=<%=params[:state]%>&city=<%=params[:city]%>">
                        <i class="fa <%= CATEGORY_ICONS[category.name.underscore] %>" aria-hidden="true"></i>
                        <%= category.name %> <span class="category-counter"><%= retailers_count[category.id]&.count || 0 rescue 0 %></span>
                      </a>
                    </li>
                  <% end %>  
                </ul>
              </div>
            </div>
          </div>
        </aside>
      </div>
      <div class="col-sm-9 page-content" id="customer-list">
        <!-- Product filter Start -->
        <div class="product-filter">
          <div class="col-sm-4">
            <div class="grid-list-count">
              <a class="list switchToGrid" href="#"><i class="fa fa-list"></i></a>
              <a class="grid switchToList" href="#"><i class="fa fa-th-large"></i></a>
            </div>
          </div>
          <div class="col-sm-8 pull-right">
            <div class="col-sm-6">
              <div class="Show-item form-group">
                <label id="category-type">
                  <span><b>Select Type</b></span>
                  <%= select_tag :sub_categories, options_for_select(category_types(params[:category_id]), params[:sub_category_id]), {class: 'form-control', :prompt => "Select Type", onchange: "applySubCategory(this)"}%>
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="Show-item">
                <span><b>Search Name</b>
                  <% if search_value.present? %>
                    <a class="pointer" onclick="clearFilter()">[Clear]</a>
                  <% end %>
                </span>
                <input class="form-control" name="keyword" placeholder="Enter retailer name" type="text" id="search-retailer">
              </div>
            </div>
          </div>    
        </div>
        <hr />
        <!-- Product filter End -->

        <!-- Adds wrapper Start -->
        <div class="adds-wrapper">
          <% if retailers.present? %>
            <% retailers.each do |retailer|%>
              <a href="/retailers/<%= retailer.username&.downcase || 'not_available'%>">
                <div class="item-list" id="retailer-card">
                  <div class="col-sm-3 no-padding photobox">
                    <div class="add-image">
                      <% photo_url = retailer&.retailer_photos&.main_photo&.first&.photo_url %>
                      <% photo_url = photo_url.present? ? photo_url : "/assets/user_default.png"%>
                      <%= image_tag "#{photo_url}" %>
                    </div>
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-6 add-desc-box">
                    <div class="add-details">
                      <h5 class="add-title"><%= retailer&.name %></h5>
                      <div class="info ratings">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span> (
                        <b>6 Users</b>)
                        <p>
                            <span class="category btn btn-danger btn-sm">
                              <%= retailer&.product_categories&.map{|category| category&.name&.camelize}&.join(',')%>
                              </span>
                        </p>  
                        <p>
                          <span class="item-location">
                            <b><%=retailer&.city&.camelize%>, <%=retailer&.state&.camelize%>, India</b> 
                          </span>
                        </p>
                      </div>
                      <div class="item_desc">
                       <%=retailer&.sub_categories.join(' | ')%>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-xs-4 col-md-3 text-right  price-box">
                    <div class="col-sm-12 padding-0">
                      <p class="contact-info">
                        <i class="fa fa-phone"></i>+(91)- <%= retailer.phone %>
                      </p>
                    </div>
                    <% if retailer.email.present?%>
                      <div class="col-sm-12 padding-0">  
                        <p class="contact-info">
                          <%= retailer.email %>
                        </p>
                      </div>
                    <% end %>  
                    <div class="col-sm-12 padding-0">  
                      <a class="btn btn-primary btn-sm review"><i class="fa fa-eye"></i>
                      <span>Reviews (0)</span></a>  
                    </div>  
                  </div>
                  <div class="col-sm-12">
                    <hr />
                  </div>
                </div>
              </a>  
            <% end %>
          <% else %>
            <div class="fallback-inner blank-retailers-container">
              <div class="fallback-content">
                <h2>Oops, looks like no retailer found!</h2>
                <ul>
                  <li>Please raise a request if need any help.</li>
                  <li><a href="#">Click here to raise request</a></li>
                  <li>Raise for the missing retailers with the supplied location/category.</li>
                </ul>
              </div>
            </div>
          <% end %>  
        </div>
        <!-- Adds wrapper End -->
        
        <!-- Start Pagination -->
        <div class="pagination-bar pull-right">
          <%= paginate retailers %>
        </div>
        <!-- End Pagination -->
      </div>
    </div>
  </div>
</div>
<!-- Main container End -->

<script type="text/javascript" src="/assets/main.js"></script>
