$('#retailer-list').html('<%=j render partial: "retailers/category_sidebar", locals: {retailers: @retailers, retailers_count: @retailers_count, search_value: @search_value }%>')
stop_spin();
$('#search-retailer').val('<%=@search_value%>')
$('#search-retailer').on('keypress',function(e) {
    if(e.which == 13) {
        var search_value = $('#search-retailer').val();
        var category_id = $('#retailer_search_hidden_fields #category_id').val();
        var city = $('#retailer_search_hidden_fields #city').val();
        var state = $('#retailer_search_hidden_fields #state').val();
        start_spin('customer-list');
        $('#search_retailers_form #search_value').val(search_value);
        $('#search_retailers_form #category_id').val(category_id);
        $('#search_retailers_form #city').val(city);
        $('#search_retailers_form #state').val(state);
        $('#search_retailers_form').trigger('submit.rails');
    }
});
<% if @cities.present? %>
    $('#city-list .dropdown-menu ul li').remove();
    $('#city-list select option').remove();
    $('#city-list select').append('<option value="">Select City</option>')
    $('#city-list .dropdown-menu ul').append('<li data-original-index=0><a tabindex=0 class="" style="" data-tokens="null"><span class="text">Select City</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>')
    <% @cities.each_with_index do |city, index| %>      
        $('#city-list .dropdown-menu ul').append('<li data-original-index="<%=index+1%>"><a tabindex="0" class="" style="" data-tokens="null"><span class="text"><%= city %></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>')
        $('#city-list select').append('<option value="<%=city%>"><%= city %></option>')
    <% end %>
    <% if !@cities.include?(@default_city) %>
        $('#city-list select').val('').trigger('change');
    <% else %>
        $('#city-list select').val('<%= @default_city %>').trigger('change');
    <% end %>
<% end %>
