    <%= render 'commons/template/slider' %> 

    <div id="search_retailer_container">
      <%= render 'commons/template/search_retailers', states: @states, cities: @cities, default_state: @default_state, default_city: @default_city %> 
    </div>  

    <div class="wrapper">

      <div class="slider-add-container">
        <%= render 'commons/template/slide_small', urls: web_slides('home') %>
      </div>
      
      <div id="category-container">
        <%= render 'commons/template/categories', product_states: nil %>
      </div>  

      <div id="featured_list">
        <%#= render 'commons/template/featured_list', advertisements: @advertisements %>
      </div>  

      <%= render 'commons/template/features' %>

      <%= render 'commons/template/location' %>

    </div>

    <%#= render 'commons/template/counter' %>

<%= render 'commons/hidden_forms' %>

<script>
  $(document).ready(function(){
    start_spinner('category-container');
    $('#search_products_form').trigger('submit.rails');
  })
</script>