<div class="modal-header row">
	<div class="col-sm-12">
		<div class="col-sm-11">
			<h5 class="modal-title" style="text-align: center;">You can contact this dealer with below details:</h5>
		</div>	
		<div class="col-sm-1">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="ads-action" style="text-align: center;">
	  <% if retailer.present? %>	
		  <ul class="list-border">
		  	<li><%= retailer.name %></li>
		    <li>
		      <i class=" fa fa-phone"></i> <%= retailer.phone %></li>
		    <li>
		      <i class=" fa fa-envelope-o"></i>
		      <%= retailer.email %>
		    </li>
		    <li><%= retailer.address %>, <%= retailer.city %>, <%= retailer.state %>, India</li>
		  </ul>
		<% else %>  
			<p> Retailer details not found in our system, our team will connect with you shortly.</p>
		<% end %>
	</div>
</div>	
