<div id="retailerDetailsModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="pop_flash_container">
				<%= render 'layouts/popup_flash' %>
			</div>
			<div id="userDetailsForm">
				<div class="modal-header row">
					<div class="col-sm-12">
						<div class="col-sm-11">
							<h5 class="modal-title">Please let us know your details to contact with this dealer</h5>
						</div>	
						<div class="col-sm-1">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<%= form_for Customer.new, url: '/customers', remote: true do |f| %>
						<%= hidden_field_tag :operation, "retailer_details" %>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-12">
									<div class="col-sm-6">
										<%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
									</div>
									<div class="col-sm-6">
										<%= f.email_field :email, class: 'form-control', placeholder: 'Email'  %>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="col-sm-6">
										<%= f.text_field :phone, class: 'form-control bfh-phone', placeholder: 'Phone', data: {format: ' (ddd) ddd-dddd'} %>
									</div>
									<div class="col-sm-6">
										<%= f.select :dealer, options_for_select(CUSTOMER_TYPE), {}, class: 'form-control', placeholder: ''  %>
									</div>
								</div>
							</div>
							<%= f.hidden_field :retailer_id %>
							<div class="col-sm-12">
								<%= f.button :send, class: 'btn btn-primary send-button', onclick: "start_spinner('retailerDetailsModal')" %>
								<label class="btn btn-primary close-button" data-dismiss="modal">Cancel</label>
							</div>
						</div>	
					<% end %>
				</div>
			</div>
			<div id="retailerDetailsForm">
				
			</div>
		</div>
	</div>
</div>