 <!-- Start Content -->
<div id="content">
  <div class="container request-list-container">
    <div class="row">
      <div class="col-sm-12 page-content">
        <div class="inner-box">
      		<div class="col-sm-12 heading">
	      		<h2 class="title-2">Retailers</h2>
	      		<div class="col-sm-3 col-md-2 col-md-offset-6">
	      			<a href="/employees/retailers/advertise" class="btn btn-danger btn-block btn-sm add-request">
	            	<span class="fa fa-plus-circle"></span>
	            	Advertise
	        		</a>
	      		</div>
	      		<div class="col-sm-3 col-md-2">
	        		<a href="/employees/retailers/free_listing" class="btn btn-danger btn-block btn-sm add-request">
	            	<span class="fa fa-plus-circle"></span>
	            	Free Listing
	        		</a>
	        	</div>	
	        </div>	
        	<div class="col-sm-12">
		        <div class="table-responsive">
		            <table class="table table-striped table-bordered add-manage-table">
		              <thead>
		                <tr>
		                  <th>Name</th>
		                  <th>Email</th>
		                  <th>Phone</th>
		                  <th>Status</th>
		                  <th>Account Type</th>
		                  <th>Added On</th>
		                  <th>Active Properties</th>
		                  <th>Action</th>
		                </tr>
		              </thead>
		              <tbody>
		              	<% @retailers.each do |retailer| %>
			                <tr>
			                  <td align="center"><%= retailer.name %></td>
			                  <td><%= retailer.email %></td>
			                  <td><%= retailer.phone %></td>
			                  <td align="center"><%= retailer.account_status_enum[retailer.account_status.to_i].first %></td>
			                  <td><%= retailer.account_type.upcase %></td>
			                  <td><%= retailer.created_at.strftime('%b, %d %Y') %></td>
			                  <td><%= retailer.active_products.count %></td>
			                  <td align="center">
			                  	<a href="/employees/<%= retailer.access_token %>/retailer_products/new" class="retailer-action">
				            		<span class="fa fa-plus-circle"></span>
				        		</a>
				        		<!-- <a href="/employees/retailers/<%= retailer.access_token %>" class="retailer-action">
				            		<span class="fa fa-info-circle"></span>
				        		</a> -->
			                  </td>
			                </tr>
			              <% end %>  
		              </tbody>
		            </table>
		        </div>
		    	</div>   
		    	<div class="pagination-bar pull-right">
		      	<%= paginate @retailers %>
		    	</div>                 
        </div>
      </div>
    </div> 
  </div>      
</div>
<!-- End Content -->
