<% if @cities.present? %>
	$('#city-list .dropdown-menu ul li').remove();
	$('#city-list select option').remove();
	$('#city-list select').append('<option value="">Select City</option>')
	$('#city-list .dropdown-menu ul').append('<li data-original-index=0><a tabindex=0 class="" style="" data-tokens="null"><span class="text">Select City</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>')
	<% @cities.each_with_index do |city, index| %>		
		$('#city-list .dropdown-menu ul').append('<li data-original-index="<%=index+1%>"><a tabindex="0" class="" style="" data-tokens="null"><span class="text"><%= city %></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>')
		$('#city-list select').append('<option value="<%=city%>"><%= city %></option>')
	<% end %>
	<% if !@cities.include?(@default_city) %>
		$('#city-list .dropdown-menu ul').append('<li data-original-index="<%=@cities.length%>"><a tabindex="0" class="" style="" data-tokens="null"><span class="text"><%= @default_city %></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>')
		$('#city-list select').append('<option value="<%=@default_city%>"><%= default_city %></option>')
	<% end %>
	$('#city-list select').val('<%= @default_city %>').trigger('change');
<% end %>		